@model IEnumerable<PIM.Models.Objects.Chamado>

<p>
    @Html.ActionLink("Abrir Chamado", "Create")
</p>
<table class="table">
    <tr>
        <th class="colunaBtn">Ações</th>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrauUrgencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atribuicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conclusao)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a class="btn btn-info" href="/Chamado/Details/@item.id" title="Detalhes"><i class="fas fa-search"></i></a>
            <a class="btn btn-primary" href="/Chamado/Edit/@item.id" title="Editar"><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-danger" href="/Chamado/Delete/@item.id" title="Excluir"><i class="fas fa-trash"></i></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrauUrgencia.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atribuicao.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conclusao)
        </td>
    </tr>
}

</table>
